body{
    background-color:bisque;
    margin: 0px;
  }
  .main-conteiner {

      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      flex-direction: column;
      margin-left: 12em;
      margin-top: 5em;
  
      
    }
  #header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 5em;
  }
  #header > button {
    width: 25em;
    height: 2.3em;
    border: 0;
    display: flex;
    color: black;
    background-color: #C4C4C4;
    padding: 10px;
    align-items: center;
    margin-top: 0.8em;
    justify-content: center;
  }
  .form-control{
    margin: 0.5em;
    width: 25em;
    border: none;
  }
  #description{
    height: 3.5em;
  }

  .main-conteiner > h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .main-conteiner> h2{
    text-align: center;
  }
  .main-checkbox{
    margin-top: 2em;
    color: rgb(13, 14, 14);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-checkbox p{
    margin: 0px;
    text-decoration: none;
    margin-top: 1.4em;
  }
  input[type="image" i] {
    width: 1em;
    height: 1em;
    justify-content: space-around;
  
 }
  
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }